<div class="container">
	<footer class="footer">
		<small>
			copyright &copy; <a href="https://github.com/Bhanu9650/Alpha-blog"> First project</a> by <a href="https://www.facebook.com/bhanu.gupta.102">Bhanu Gupta </a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
		
	</footer>
	
</div>